#title{ background-color :#ff4c68;}

.container-fluid{
    padding: 3% 15%;
}
.navbar-brand{
    
    font-weight: bold;
}
.nav-item{
    padding: 0 15px;
}
#features{
    padding: 7% 15%;
}
.feature-box{
    text-align: center;
    padding: 6%;
}

h2{
    line-height: 1.5;
    font-size: 40px;
    font-family: monsterrat-bold;
}
h3{
    font-family:montserrat-bold;

    font-weight: bold;
}
p{
    color:#8f8f8f;

}
.icon{
    color: #ef8172;
    margin-bottom: 20px;
}
.icon:hover{
    color: #ff4c68;
}
#testimonials{
    text-align: center;
    padding: 7% 15%;
    background-color: #ef8172;
    color: #fff;
}
    .testimonial-images{
        border-radius: 100%;
        margin: 20px;
        width: 25%;
    }
    
    #presss{
        text-align: center;
        color: #ef8172;
    }

    .last-imgs{
        width: 30%;
       padding: 0 60px 0 60px;
    }
    .carousel-item{
        padding:7% 9%;
    }

    #pricing{
        padding: 100px;
        text-align: center;
    }
    .pricing-bottom{
        padding: 3% 4%;
    }

      #cta{
          background-color: #ff4c68;
          color: #fff;
          padding: 8% 16%;
          text-align: center;
      }

      .ctaheading{
         font-size: 3rem;
          
          line-height: 1.5;
      }
    @media(max-width:1030px)
    {
        .tittle-img{
            position: static;
            transform: rotate(0);

        }
    }

    #footer{
        padding: 7% 15%;
        text-align: center;
    }
    .footicon{
        padding: 10px 20px;
    }
    